<div [class]="cssClass">
  <label [class]="cssLabelClass" [for]="id">
    {{ labelText }}
  </label>
  <div class="control" [ngClass]="[icon ? 'has-icons-left' : '']">
    <input
      [name]="name"
      [class]="cssInputClass"
      [ngClass]="[error === true ? 'input is-danger' : 'input is-normal']"
      [id]="id"
      [type]="type"
      [placeholder]="placeHolder"
      [disabled]="disabledInput"
      (change)="inputTextValue($event)"
    />
    <span *ngIf="icon" class="icon is-small is-left">
      <i
        [class]="icon"
        [ngClass]="[error === true ? 'dangerColour' : 'is-normal']"
      >
      </i>
    </span>
  </div>
  <p *ngIf="error" class="has-text-danger">
    {{ errorMessage }}
  </p>
</div>
